<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.alibaba.tinker.register.mapper.RegisterInterfaceMapper">    
    <insert id="insertRegisterInterface" parameterType="com.alibaba.tinker.register.object.RegisterInterfaceDo">  
   	   <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID() as id
	   </selectKey> 
       insert into register_interface(
       		id,
        	gmt_create,
        	gmt_modified,
        	creator,
        	modifier,
        	is_deleted,
        	app_name,
        	tinker_version,
        	interface_name,
        	interface_version,
        	provider_address,
        	publish_time,
        	status,
        	timeout,
        	serializable_type
       ) values
       		(
       			#{id}, 
       			now(),
       			now(),
       			'SYSTEM',
       			'SYSTEM',
       			'y',
       			#{appName},
       			#{tinkerVersion}, 
       			#{interfaceName},
       			#{interfaceVersion},
       			#{providerAddress},
       			#{publishTime},
       			#{status},
       			#{timeout},
       			#{serializableType} 
       		)	 
    </insert>    
     
    <select id="getInterfaceListByInterfaceName" resultType="com.alibaba.tinker.register.object.RegisterInterfaceDo" parameterType="java.lang.String">   
        select 
        	id as id,
        	gmt_create as gmtCreate,
        	gmt_modified as gmtModified,
        	creator,
        	modifier,
        	is_deleted as isDeleted,
        	app_name as appName,
        	tinker_version as tinkerVersion,
        	interface_name as interfaceName,
        	interface_version as interfaceVersion,
        	provider_address as providerAddress,
        	publish_time as publishTime,
        	status as status,
        	timeout as timeout,
        	serializable_type as serializableType
        from register_interface 
        where 
        	interface_name = #{interfaceName}	 
    </select>
    
    <select id="getInterfaceListByFullName" resultType="com.alibaba.tinker.register.object.RegisterInterfaceDo" parameterType="java.lang.String">   
        select 
        	id as id,
        	gmt_create as gmtCreate,
        	gmt_modified as gmtModified,
        	creator,
        	modifier,
        	is_deleted as isDeleted,
        	app_name as appName,
        	tinker_version as tinkerVersion,
        	interface_name as interfaceName,
        	interface_version as interfaceVersion,
        	provider_address as providerAddress,
        	publish_time as publishTime,
        	status as status,
        	timeout as timeout,
        	serializable_type as serializableType
        from register_interface 
        where 
        	concat(interface_name, concat(':', interface_version)) = #{fullName} 
    </select>   
</mapper>  